.contact__container {
    width: 50vw;
    height: max-content;
    margin: auto;
    border-radius: 1rem;
    background-color: var(--color-blog);
    margin-top: 2rem;
    padding: 2rem 4rem;
}

.contact__container h2 {
    font-family: poppins;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contact__container Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__rest {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__name {
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

.contact__name input {
    width: 50%;
}

.contact__container input[type="email"] {
    margin: 1.5rem 0;
    width: 100%;
}

.contact__container input {
    height: 3rem;
    padding: 1rem;
    background-color: #040c18;
    color: var(--color-text);
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 5px;
}

.contact__container textarea {
    padding: 1rem;
    background-color: #040c18;
    color: var(--color-text);
    border-radius: 5px;
    outline: none;
    border: none;
}

.emailLabel {
    color: white;
    font-family: var(--font-family);
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.emailReceived {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    background-clip: text;
    color: transparent;
    font-family: var(--font-family);
    margin-top: 20px;
    font-size: 20px;
}

input:focus, textarea:focus {
    border: none;
    outline: none;
    background-color: #040c18;
}

.contact__container button {
    width: max-content;
    text-align: center;
    margin-top: 1.5rem;
    margin-left: 0.3rem;
}

.cntBtn{
    width: 81.8px;
    height: 34.4px;
    overflow: hidden;
}


/* ===================RESPONSIVE CSS===================== */

@media only screen and (max-width: 990px) {
    .contact__container {
        width: 80vw;
    }
}

@media only screen and (max-width: 1200px) {
    .contact__container {
        width: 80vw;
    }
}

@media only screen and (max-width: 490px) {
    .contact__container {
        width: 90vw;
        padding: 2rem;
    }

    .contact__container h2 {
        font-size: 2.5rem;
    }

    .contact__name {
        flex-direction: column;
    }

    .contact__name input {
        width: 100%;
    }
}